<div class="home-continer">
    <div class="home__header">
        <div class="home__header__left">
            <img src="https://www.facebook.com/" alt="logo" mat-card-avatar>
            <div class="input">
                <mat-icon> search_outline </mat-icon>
                
                <form>
                    <input type="text" placeholder="search">
                </form>
            </div>
        </div>



        <div class="home__header__middle">
            <div class="active"> 
                <mat-icon> home </mat-icon>
            </div>
            <div> 
                <mat-icon> ondemand_video </mat-icon>
            </div>
            <div> 
                <mat-icon> store </mat-icon>
            </div>
            <div> 
                <mat-icon> group </mat-icon>
            </div>
            <div> 
                <mat-icon> flag </mat-icon>
            </div>
        </div>




        <div class="home__header__right">
            <div>
                <img src="" alt="avatar" mat-card-avatar>
            </div>
            <span class="name">my name</span>
        </div>

        <div>
            <mat-icon>add</mat-icon>
        </div>
        <div>
            <mat-icon matBadge="4" matBadgeColor="primary" matBadgeOverlap="false" matBadgePosition="above after"> forum </mat-icon>

        </div>
        <div>
            <mat-icon  matBadge="3" matBadgeColor="warm" matBadgeOverlap="false" matBadgePosition="above after"> notifications </mat-icon>
        </div>
        <mat-icon [matMenuTriggerFor]="menu">expand_more</mat-icon>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>
              <mat-icon> exit_to_app</mat-icon>Logout
            </button>
        </mat-menu>
    </div>


    <div class="home__body">

        <div class="home__body__">


        </div>






    </div >
</div>