<div class="longin-container">

    <header class = "login__header">
        <div class="login__header__left">
            <img src="https://static.xx.fbcdn.net/rsrc.php/y8/r/dF5SId3UHWd.svg" alt="logo">
            <h2>Connect with friends and the world around you on Facebook.</h2>
        </div>
        <div class="login__header__right">
            <mat-card class="login__header__right__card"> 
                <mat-card-content class="login__header__right__card__content">
                    <form #form="ngForm" class="login-form" (ngSubmit) = "login(form)">
                        <input type="text" name="email" ngModel placeholder="Email adress or your phone " required>
                        <input type="password" name="password" ngModel placeholder="Password " required>

                        <button type="submit" class="login-button" [disabled] = "form.invalid || form.pending">
                            Log in

                        </button>
                    </form>
                    <a href="#">Forgetten acount?</a>
                    <button class="create-account" (click) = "openRegister()">Create New Account</button>
                </mat-card-content>
            </mat-card>

            <p class="tagline"><strong> a Page for </strong> a celebrity, band or business.</p>


        </div>
    </header>

    <footer class="login__fotter">
        Create by Tamer Aamas
    </footer>

</div>